* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  .chat-container {
    height: 600px; 
    width: 800px;
    margin: auto;
    background-image: url("https://images.unsplash.com/photo-1517384084767-6bc118943770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1600&q=80");
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .message {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #007bff;
  }
  
  .user {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
  }
  
  .message-input {
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  